@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  background-color:rgb(0,0,0);
  background-image:url(https://www.zingerbugimages.com/backgrounds/indigo_textured_rock_seamless_pattern.jpg);
  background-position:top left;
  background-repeat:repeat;
  background-attachment:fixed
}
.container {
  margin-left: 10px;
}

.heading {
  margin-top: 20px;
    a.sitename{
        text-decoration: none;
        text-shadow: 1px 1px silver;
        color: dodgerblue;
        font-size:xx-large;
        font-weight: bold;
        line-height: 1;
    }
    .site-name-half {
      text-decoration: none;
      color:indigo;
      font-size:xx-large;
      line-height: 1;
    }

    .subheading {
      font-size: medium;
      color: dodgerblue;
      margin-top: 0px;
    }

    .info {
      display: flex;
      justify-content: center;
      font-size:small;
      margin-top: 1em;
      align-items: baseline;
    }

    a.demolink {
      text-decoration: none;
      color:dodgerblue;
      padding-left: 3px;
      font-weight: bold;
    }

}

main {
  margin-top: 20px;
}

.main {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#pitch {
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);  
}

.pitch { 
  position:relative 

} /* Make this a positioned parent */

.circle {
  border-radius: 50%;
  border: 1px solid white;
  cursor:move;
  position:absolute; 
  top:50px; 
  left:30px; 
}

.circle:hover {
  transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.left {
  width: 20px;
  height: 20px;
  background: dodgerblue;
}

.right {
  width: 20px;
  height: 20px;
  background: purple;
}

.ball {
  width: 12px;
  height: 12px;
  background: black;
}

.dragging {
  opacity: .5;
}


// controls 

.control-panel {
  display: flex;
  justify-content: center;
  align-items: center; 

.control-panel-body {
  margin-left: 1.2em;
  border-style: solid;
  border-radius: 1em;
  border-color: dodgerblue;
  border-width: 5px;
  align-items: center;
  // padding:1.6em;
  background: white;  
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
}

.control-panel-section {
  border: 2px solid dodgerblue;
  padding: 1em;
}

.control-panel-section.title {
  text-align:center;
  color:white;
  font-size: large;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: dodgerblue;
}

.button-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 7px;

  p {
    font-size: x-small;
    font-weight: lighter;
  }
}
.control-panel-section.switches {

  .switch-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      padding-right:1em;
      font-size: small;
      font-weight:bold;
      text-align: center;


    }
  }

  .switch-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      padding-right:1em;
      font-size: small;
      font-weight:bold;
      text-align: center;


    }
  }
}

.controls {
  border-style: solid;
  border-width: thin;
  border-color: dodgerblue;
  border-radius: 10px;
  align-items: center;
  display:flex;
  justify-content: space-evenly;
  padding: 2px;

  .control-button {
    background-position: 50%, 50%;
    margin: 4px;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color:transparent;
    background-size: 20px 20px;
  }

  .start {
    background-image: url("../images/record.png");
  }
  .stop {
    background-image: url("../images/stop.png");
  }
  .play {
    background-image: url("../images/play.png");
  } 
  .reset {
    background-image: url("../images/reset.png");
  }
  .save {
    background-image: url("../images/save.png");
  }   
}

.control-panel-text {
  font-size: small;
  font-weight:bold;
  text-align: center;
}

.opposition-checkbox {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
}

.slidecontainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
footer {
  margin-top: 1.4em;
  a {
    text-decoration: none;
    color: dodgerblue;
  }
  p {
    text-align:center;
    font-size: small;

    a {
      color: dodgerblue;
    }
  }
  .project-name {
    a {
      color: indigo;
      text-decoration: none;
    }
  }
}
